version: "{build}"

os: Windows Server 2012 R2

clone_folder: c:\gopath\src\github.com\seedifferently\nogo

environment:
  GOPATH: c:\gopath

install:
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go1.8.windows-amd64.zip
  - 7z x go1.8.windows-amd64.zip -y -oC:\ > NUL
  - go version
  - go env
  - go get github.com/miekg/dns
  - go get github.com/boltdb/bolt
  - go get github.com/pressly/chi
  - set PATH=%GOPATH%\bin;%PATH%

build: off

test_script:
  - go vet
  - go test -race

deploy: off